
            <div class="row">
            <div class="col-2">
            
                <label class="image-container">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/GW/Apr/NTA/2.1._CB588373595_.jpg" width="1300" height="300">
                </label>
        <ul class="menu">
            <h4 class="clr" style="margin-right: auto;">Category</h4>
        <li class="menu-item"><b>Men Fashions</b> </li><br>
        <li class="menu-item"><b>Womens Fashions</b></li><br>
        <li class="menu-item"> <b>Kids Wear</b> </li><br>
        <li class="menu-item"><b> Electronics</b> </li><br>
        <li class="menu-item"><b>Home Ware</b></li><br>
        <li class="menu-item"> <b>Grocery</b> </li><br>
        <li class="menu-item"> <b>Mobiles</b> </li><br>
    </ul>
</div>
</div>


  
  