<form>
    <h4>Create New Account</h4>
    <span class="closelogo" (click)=" ClosePopUp()">&#10006;</span>
    <hr>
    <div class="form-group"><b>PhoneNumber or Email Id</b></div>
    <input type="number or email" value="" name="" placeholder="enter PhoneNumber or Email Id" class="form-control">
    <div class="form-group"><b>Password</b></div>
    <input type="password" value="" name="" placeholder="enter Your Password" class="form-control">
      <br>
    <div>
        <input type="button" value="Login" name="Login" class="btn btn-primary">
    </div>
</form>




