h3{
    color: rgb(67, 15, 224);
}

.icon-close{
    position: absolute;
    top: 0%;
    padding: 1% ;
    right: 5%;
    background-color: rgb(240, 167, 126);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
